.sidebar .user-info {
    background: rgba(87,133,31,1);
background: -moz-linear-gradient(-45deg, rgba(87,133,31,1) 0%, rgba(107,186,9,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(87,133,31,1)), color-stop(100%, rgba(107,186,9,1)));
background: -webkit-linear-gradient(-45deg, rgba(87,133,31,1) 0%, rgba(107,186,9,1) 100%);
background: -o-linear-gradient(-45deg, rgba(87,133,31,1) 0%, rgba(107,186,9,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(87,133,31,1) 0%, rgba(107,186,9,1) 100%);
background: linear-gradient(135deg, rgba(87,133,31,1) 0%, rgba(107,186,9,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57851f', endColorstr='#6bba09', GradientType=1 );
}

[type="checkbox"].leaflet-control-layers-selector {
    position: static !important;
    left: 0px  !important; 
    opacity: 1  !important; 
}

[type="checkbox"] + label {
    margin-bottom: -20px;
}